.orderSuccess {
  height: 100vh;
  width: 100vw;
  padding: 10px 150px;
  display: flex;
  gap: 20px;
}
.leftSection {
  width: 65%;
  height: 100%;
}
.rightSection {
  width: calc(100% - 65%);
  height: 100%;
}
