.wrapper {
  height: calc(100vh - 35px);
  width: 100%;
  padding: 60px 0;
  text-align: center;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 280px;
  opacity: 0.8;
}

.wrapper h2 {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  margin-top: 5px;
  font-size: 14px;
  color: #777;
}

.button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  background: #2874f0;
  color: white;
  font-size: 16px;
  cursor: pointer;
}
