.buttonGroup {
  height: 55px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.buttonGroup button {
  width: 48%;
  border: none;
  background-color: #2874f0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.buttonGroup button:last-child {
  background-color: red;
}
.buttonGroup button:last-child:hover {
  background-color: rgb(196, 0, 0);
}
.buttonGroup button span i {
  margin-left: 0.7rem;
}
.buttonGroup button:first-child:hover {
  background-color: #024abe;
}
