.buttonGroup {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}
.buttonGroup button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px 0;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.buttonGroup button:last-child {
  background-color: red;
}
.buttonGroup button:last-child:hover {
  background-color: rgb(196, 0, 0);
}
.buttonGroup button span i {
  margin-left: 0.7rem;
}
.buttonGroup button:first-child {
  background-color: #1b6df2;
}
.buttonGroup button:first-child:hover {
  background-color: #024abe;
}
