.receivePayment {
  height: auto;
  width: 100%;
  padding: 20px 140px;
  background-color: #ffffff;
}
.receivePayment h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  text-decoration: underline solid #027cd5 2px;
  margin-bottom: 20px;
}
.receivePayment p {
  margin: 0;
  color: black;
  font-size: 1rem;
  margin: 10px 0px;
}

/* PAYMENT CONTAINER */
.paymentContainer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2faff;
}
.paymentContainer div {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 60px;
}
.paymentContainer div img {
  height: 260px;
}
.paymentContainer div span p a {
  text-decoration: none;
}
