* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.topBar {
  padding: 16px 40px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.224);
}
.topBar h6 {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}
