.statusContainer {
  display: flex;
  align-items: center;
  padding: 20px 10px;
  background-color: aquamarine;
}

.statusStep {
  display: flex;
  align-items: center;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.line {
  width: 55px;
  height: 2px;
  margin: 0 8px;
}

.green {
  background-color: #26a541;
  color: white;
}

.gray {
  background-color: #ccc;
}

.greenText {
  color: #26a541;
  margin-left: 6px;
}

.grayText {
  color: #999;
  margin-left: 6px;
}
