.detailsContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notify {
  font-size: 1.2rem;
  font-weight: 600;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  margin-bottom: 30px;
}
.inputContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
}
.inputContainer input {
  height: 50px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  outline: none;
}
/* Auto Buy */
.autoBuy {
  width: 100%;
  height: 60px;
}
.checkContainer {
  display: flex;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}
.autoBuy p {
  margin: 0;
  color: black;
  font-size: 1.2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.autoBuy input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  height: 20px;
  width: 20px;
  background-color: #0000003b;
  border: 1px solid rgba(255, 255, 255, 0.04);
  border-radius: 2px;
}
.checkContainer input:checked + .checkmark::after {
  content: " ";
  position: absolute;
  width: 5px;
  height: 12px;
  border: solid black;
  border-width: 0 2px 2px 0;
  transform: translate(6px, 3px) rotate(45deg);
}

/* Button */
.buttonContainer {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.buttonContainer button {
  height: 50px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

.buttonContainer button:first-child {
  background: linear-gradient(to right, #0e3677, #2874f0);
  color: white;
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.buttonContainer button:first-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.4),
    transparent
  );
  transform: skewX(-20deg);
  transition: 0.5s;
}

.buttonContainer button:first-child:hover::after {
  left: 100%;
}

.buttonContainer button:first-child:hover {
  transform: translateY(-2px) scale(1.03);
}

.buttonContainer button:last-child {
  background: linear-gradient(to right, #d16666, #e60023);
  color: white;
  padding: 12px 26px;
  border-radius: 8px;
  border: none;
  position: relative;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.buttonContainer button:last-child::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.35),
    transparent
  );
  transform: skewX(-20deg);
  transition: 0.5s;
}

.buttonContainer button:last-child:hover::after {
  left: 100%;
}
.buttonContainer button:last-child:hover {
  transform: translateY(-2px) scale(1.03);
}
