.orderSuccess {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding: 0px 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.198);
}
.orderSuccess .done {
  height: 150px;
  object-fit: contain;
}

.orderSuccess h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif0;
  font-size: 1.8rem;
  color: black;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}
.orderSuccess p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin: 0;
}
.orderSuccess .box {
  height: 200px;
  margin-bottom: 50px;
  filter: drop-shadow(0px 0px 5px black);
}
.continueShopping {
  padding: 12px 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #2874f0;
  border-radius: 50px !important;
  border: none;
  font-size: 1.1rem;
  color: white;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.298) !important;
}
