* {
  box-sizing: border-box;
}
.category {
  width: auto;
  height: 125px;
  margin: 78px 15px 10px 15px;
  display: flex;
  justify-content: center;
  background-color: white;
}
.category .category-wrapper {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}
.category-item {
  height: 100%;
  width: 142px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: auto;
  height: 100%;
  cursor: pointer;
}
.category-item img {
  height: 65px;
  object-fit: contain;
}
.category-item span {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
}
