.buttonContainer {
  width: 30%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 20px;
}
.buttonContainer button {
  width: auto;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: start;
  background-color: transparent;
  font-size: 0.9rem;
}
.deactive {
  color: #2874f0;
  font-weight: 600;
}
.delete {
  color: #d33276;
  font-weight: 600;
}
