.gender {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.gender p {
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}
.genderGroup {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
  font-family: sans-serif;
}

.genderOption {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;
}

.genderOption input[type="radio"] {
  appearance: none;
  width: 15px;
  height: 15px;
  border: 2px solid gray;
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: 0.15s ease;
}

.genderOption input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.15s ease;
  background-color: #2874f0;
}

.genderOption input[type="radio"]:checked::before {
  transform: scale(1);
}

.genderOption span {
  color: #333;
}
