.mobileNumber {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.mobileNumber h5 {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding-bottom: 15px;
}
.mobileNumber input {
  height: 50px;
  width: 30%;
  outline: none;
  border: 1px solid lightgray;
  padding: 0 10px;
  border-radius: 2px;
}
