.personalInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}
.personalInfo h5 {
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding-bottom: 15px;
}
.personalInfo div {
  display: flex;
  align-items: center;
  gap: 20px;
}
.personalInfo div input {
  height: 50px;
  width: 30%;
  outline: none;
  border: 1px solid lightgray;
  padding: 0 10px;
  border-radius: 2px;
}
.personalInfo div button {
  height: 50px;
  width: 80px;
  border: none;
  outline: none;
  background-color: #2874f0;
  color: white;
  border-radius: 2px;
}
.personalInfo div button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}
