.navContainer {
  background-color: #ffffff;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding: 0px 30px;
}
/* LEFT SIDE */
.navLeft {
  height: 100%;
  display: flex;
  flex: 1;
  align-items: center;
  gap: 20px;
}
.navLeft span {
  height: 100%;
  display: flex;
  align-items: center;
}
.navLeft ul {
  height: 100%;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}
.navLeft ul li {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
/* RIGHT SIDE */
.navRight {
  height: 100%;
}
.navRight ul {
  height: 100%;
  display: flex;
  margin: 0;
  padding: 0;
}
.navRight ul li {
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.navRight ul li:first-child {
  padding: 0px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.navRight ul li:last-child {
  background-color: #ffcd00;
  padding: 0px 14px;
  font-weight: 600;
  font-size: 1.13rem;
}

/* DROP DOWN */
.dropDown {
  width: 250px;
  padding: 15px 30px 15px 20px;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.12),
    0 4px 6px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}
.dropDown ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
.dropDown ul li {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

/* LINK */
.link {
  text-decoration: none;
  color: black;
}
