* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navContainer {
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}
.navLeft,
.navRight {
  height: 100%;
  display: flex;
  align-items: center;
}

.navContainer ul {
  height: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 28px;
  margin: 0;
  padding: 0;
}

.navContainer li {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  color: #212121;
  transition: color 0.2s ease;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
}
.navContainer li:hover {
  color: #2874f0;
}
.navContainer img {
  height: 32px;
}
/* Right side */
.sellingBtn {
  background-color: #ffcd00;
  padding: 0px 20px;
  font-size: 1.2rem !important;
}
.sellingBtn:hover {
  color: black !important;
}
.loginBtn {
  padding: 0px 10px;
}
