.otherInfo {
  width: 100%;
  height: auto;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.1);
}
.myOrder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10px;
  border-bottom: 1px solid #e0e0e0;
}
.myOrder span {
  display: flex;
}
.myOrder h6 {
  color: grey;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 1.06rem;
}
.myOrder .upload {
  color: #2874f0;
  margin-right: 15px;
  font-size: 1.2rem;
}
.myOrder .next {
  color: gray;
  font-size: 1.2rem;
}

/* accountSetting */
.accountSetting {
  padding: 20px 10px;
  border-bottom: 1px solid #e0e0e0;
}
.account {
  width: 100%;
  display: flex;
  padding: 20px 0px;
}
.account i {
  color: #2874f0;
  margin-right: 15px;
  font-size: 1.2rem;
}
.account h6 {
  color: grey;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  font-size: 1.06rem;
}
/* info */
.info {
  padding: 0px 0px 0px 40px;
}
.info p {
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 8px 0px;
}

/* Logout */
.logout {
  padding: 20px 10px;
  display: flex;
  cursor: pointer;
}
.logout i {
  margin-right: 15px;
  font-size: 1.2rem;
  color: #2874f0;
}
.logout h6 {
  margin: 0;
}
