.profileHeader {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  gap: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.profileHeader .image {
  width: 60px;
  height: 60px;
}
.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.otherInfo {
  height: 100%;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.otherInfo p {
  margin: 0;
  color: black;
  font-size: 0.8rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.otherInfo h6 {
  margin: 0;
  color: black;
  font-size: 1.1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
