.addressForm {
  height: auto;
  width: 100%;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #f5faff;
}
.addressForm h5 {
  margin: 0;
  color: #2874f0;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.addressForm div {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-left: 40px;
}
.addressForm .twoFiled input,
.addressForm div select {
  width: 40%;
  height: 50px;
}

.addressForm div input {
  height: 100px;
  width: calc(80% + 10px);
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.addressForm div select {
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 2px;
  outline: none;
}
/* Button */
.addressForm div button {
  height: 50px;
  width: auto;
  padding: 0px 20px;
  font-size: 0.9rem;
  border: none;
  outline: none;
  background-color: #fb641b;
  color: white;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 2px;
}
.addressForm div button:last-child {
  background-color: transparent;
  color: #2874f0;
}
/* Error */
.error {
  color: red;
}
