* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.profile {
  height: auto;
  width: 100%;
  display: flex;
  gap: 20px;
  margin-top: 70px;
  padding: 0px 160px;
}
