.analyticsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.summary {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}
/* Graph */
.chart {
  width: 100%;
  height: 360px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.doughnutGraph {
  height: 100%;
}
