.analyticsContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.summary {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.chart {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}

.doughnutGraph {
  width: 100%;
  height: 350px;
  background-color: #fff;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.239);
}

.secondChart {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

@media (max-width: 1200px) {
  .summary {
    grid-template-columns: repeat(3, 1fr);
  }

  .secondChart {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .summary {
    grid-template-columns: repeat(2, 1fr);
  }

  .chart {
    grid-template-columns: 1fr;
  }

  .secondChart {
    grid-template-columns: 1fr;
  }

  .doughnutGraph {
    height: 300px;
  }
}
