.sidebar {
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: sticky;

  height: calc(100vh - 60px);
  overflow: hidden;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.link {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 8px;
  transition:
    background-color 0.25s ease,
    color 0.2s ease,
    padding-left 0.25s ease,
    transform 0.15s ease;
}

.link:hover {
  background-color: rgba(211, 211, 211, 0.376);
  color: black;
  padding-left: 18px;
}

.active {
  border-left: 6px solid #2874f0;
  color: black;
  background-color: #2875f08e;
  padding-left: 18px;
  animation: slideIn 0.25s ease-out;
}
.active:hover {
  border-left: 6px solid #2874f0;
  color: black;
  background-color: #2875f08e;
}

@keyframes slideIn {
  from {
    opacity: 0.6;
    transform: translateX(-6px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
