.sidebar {
  width: 220px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  padding: 20px;

  position: fixed;
  top: 60px;
  left: 0px;
  height: calc(100vh - 60px);
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.link {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 8px;
}

.link:hover {
  background-color: #f1f1f1;
}

.link.active {
  background-color: #2874f0;
  color: white;
}
