* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sign-navbar {
  height: 57px;
  width: 100%;
  background-color: #2874f0;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.sign-options {
  height: 100%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sign-options .login-logo {
  height: 22px;
  margin-right: 10px;
}

/* Search Bar */
.sign-search-bar {
  height: 65%;
  width: 565px;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 0.4px 0.5px 5px black;
}
.sign-search-bar input {
  height: 100%;
  width: 93%;
  border: none;
  outline: none;
  padding: 0px 10px;
  font-size: 0.9rem;
}
.sign-search-bar span {
  width: 7%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.sign-search-bar span i {
  font-size: 1.1rem;
  color: #2874f0;
}

/* Login Button */
.login-btn {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 50%;
  position: relative;
}
.login-btn button {
  color: #2874f0;
  height: 50%;
  background-color: white;
  border: none;
  outline: none;
  padding: 5px 40px;
  font-weight: 600;
}
.authLoginOptions {
  height: auto;
  width: 240px;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  white-space: nowrap;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.345);
  border-radius: 5px;
  overflow: hidden;
}
.loginAuthOptions {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start !important;
}
.loginAuthOptions div {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 15px 20px 10px;
}
.loginAuthOptions div:hover {
  background-color: #f1f2f4;
  cursor: pointer;
}
.authSignUp {
  height: 50px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(128, 128, 128, 0.513);
}
.authSignUp p {
  margin: 0;
  color: black;
  font-size: 1rem;
}
.authSignUp span {
  color: #2874f0;
  font-weight: 600;
}
.loginAuthOptions div i {
  color: #2874f0;
}
.loginAuthOptions button {
  border: none;
  outline: none;
  background-color: transparent;
  color: #2874f0;
  font-weight: 600;
}
.authlink {
  width: 100%;
  text-decoration: none;
}

/* Seller Button */
.seller {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.seller button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
  height: 60%;
}

/* More Button & Cart Button */
.more,
.cart {
  height: 80%;
  width: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.more button,
.cart button {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 600;
}
.more i {
  color: white;
  font-size: 0.6rem;
  margin-left: 2px;
}
.cart i {
  color: white;
  margin-right: 5px;
}

.more-about-options {
  position: absolute;
  top: 100%;
  left: 0;
}
.more-about-options i {
  color: #2874f0;
  font-size: 1.1rem;
}
