.ProductDetails {
  margin-top: 10px;
}

.ProductDetails p {
  margin: 0;
}

.ProductDetails h6 {
  font-size: 1.1rem;
  margin: 0px 0px 10px 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.ProductDetails .rating {
  background-color: rgb(1, 148, 1);
  color: white;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: inline-block;
  padding: 0px 3px;
  font-size: 0.8rem;
  border-radius: 4px;
  margin: 0px 0px 10px 0px;
}

.ProductDetails .price {
  font-size: 1.8rem;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0px 0px 10px 0px;
}

.stock {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  margin-bottom: 10px !important;
}
.icon {
  color: green; /* For check */
  font-size: 18px;
  margin-right: 8px;
}

.outOfStock {
  color: red;
}

/* highlights */
.highlights {
  display: flex;
  gap: 40px;
}
.highlightsList {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  margin: 0px 0px 10px 0px;
}
.highlightsList .item {
  display: flex;
  gap: 10px;
}
.highlightsList .item .bullet {
  color: gray;
  font-size: 1.2rem;
}
.itemText {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: grey;
}
/* discription */
.discription {
  display: flex;
  width: 100%;
  gap: 46px;
}
.highlightsHead,
.discriptionHead {
  color: gray;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 500;
  font-size: 1.01rem;
}

.discriptionText {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
}
