.Specification {
  height: auto;
  width: 100%;
  border: 1px solid #ddd;
  margin-top: 50px;
  margin-bottom: 30px;
}
.SpecificationHead {
  height: 70px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 1px solid #ddd;
}
.SpecificationHead h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}
.SpecificationBody {
  padding: 20px;
}
.SpecificationBody h5 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 40px;
}
.SpecificationBody div {
  display: flex;
}
.SpecificationBody div p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.SpecificationBody div p:first-child {
  color: gray;
}
.SpecificationBody .SpecificationName {
  gap: 80px;
}
.SpecificationBody .SpecificationDescription {
  gap: 42px;
}
.SpecificationBody .Brand {
  gap: 82px;
}
.SpecificationBody .Highlights {
  gap: 52px;
}
.SpecificationBody .Availability {
  gap: 60px;
}
.SpecificationBody .Category {
  gap: 60px;
}
