.button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.button button:first-child {
  width: 50%;
  height: 50px;
  border: none;
  background-color: #222327;
  color: lightgray;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
}
.button button:last-child {
  width: 50%;
  height: 50px;
  border: none;
  background-color: #07806d;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 8px;
}
