.buttonContainer {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  gap: 50px;
  padding: 20px;
}
.quantityControl {
  display: flex;
  align-items: center;
  gap: 5px;
}
.quantityControl span {
  font-size: 1.2rem;
  font-weight: 500;
  border: 1px solid #e0e0e0;
  padding: 0px 20px;
}

.quantityControl button {
  height: 35px;
  width: 35px;
  border: 1px solid #e0e0e0;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.removeBtn {
  border: none;
  outline: none;
  font-size: 1.07rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
}
