.cart {
  width: 100%;
  min-height: 100vh;
  background-color: #f1f3f6;
  display: flex;
  flex-direction: column;
}

.section {
  padding-top: 80px;
  width: 85%;
  flex: 1;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 0 auto;
}

.leftSection {
  width: 68%;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-width: none;
}
.leftSection::-webkit-scrollbar {
  display: none;
}

.bottomBar {
  background: white;
  height: 80px;
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 600;
  padding: 15px 20px;
  box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  bottom: 0;
  z-index: 10;
}

.bottomBar button {
  height: 100%;
  background-color: #fb641b;
  color: white;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.1rem;
  padding: 0px 60px;
  border: none;
  outline: none;
  border-radius: 2px;
}
.rightSection {
  width: 27%;
  height: auto;
  position: sticky;
  top: 80px;
  height: fit-content;
  background-color: white;
}
