* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.cartItem .item {
  background-color: #fff;
  width: 100%;
  height: 170px;
  display: flex;
  gap: 20px;
  padding: 15px 20px;
  align-items: flex-start;
}

/* Image container */
.item .imageDiv {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  border-radius: 6px;
  overflow: hidden;
}

.item .imageDiv img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* Details section */
.itemDetails {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.itemDetails p {
  margin: 0;
}

.itemDetails h2 {
  margin: 0;
  font-size: 16px;
}

.itemDetails .description {
  font-size: 13px;
  color: gray;
  max-width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.itemDetails .price {
  font-size: 20px;
  font-weight: bold;
  color: #111;
}

.itemDetails .highlights {
  font-size: 14px;
  color: #666;
}

/* Empty Cart */
.emptyWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 50;
  background-color: white;
  padding: 10px;
}

.emptyCart {
  text-align: center;
}
.emptyCart img {
  height: 300px;
  margin-bottom: 10px;
}
.emptyCart h6 {
  font-size: 1.1rem;
}
.emptyCart p {
  margin: 0;
  color: black;
  font-size: 0.7rem;
}
.emptyCart button {
  margin-top: 20px;
  font-size: 0.9rem;
  padding: 12px 72px;
  border-radius: 4px;
  border: none;
  background-color: #2874f0;
  color: white;
  font-family: sans-serif;
}
