.Buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  gap: 10px;
}

.Buttons button {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px 0;
  border: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.Buttons button:first-child {
  background-color: #ff9f00;
}
.Buttons button:last-child {
  background-color: #fb641b;
}
.disabledBtn {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed !important;
  opacity: 0.7;
}

.disabledBtn:hover {
  background-color: #ccc;
}

/* allButton */
.allButton {
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonContainer {
  height: 250px;
  width: 400px;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.close i {
  font-size: 1.3rem;
  cursor: pointer;
}
.primary {
  background-color: #0a8f5b !important;
  color: #ffffff;
  padding: 14px 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 100%;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(10, 143, 91, 0.3);
  margin-bottom: 30px;
}

.primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(10, 143, 91, 0.4);
}

.primary:active {
  transform: scale(0.97);
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row button:first-child {
  background: linear-gradient(135deg, #e6b34c, #c18c2f) !important;
  color: #fff !important;
  padding: 14px 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 48%;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(193, 140, 47, 0.35);
}

.row button:first-child:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(193, 140, 47, 0.45);
}

.row button:first-child:active {
  transform: scale(0.97);
}
.row button:last-child {
  background: linear-gradient(135deg, #ff3c3c, #c30000) !important;
  color: #fff !important;
  padding: 14px 18px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  width: 48%;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 4px 12px rgba(255, 60, 60, 0.35);
}

.row button:last-child:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(255, 60, 60, 0.45);
}

.row button:last-child:active {
  transform: scale(0.97);
}
