.Buttons {
  height: 55px;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.Buttons button {
  width: 48%;
  border: none;
  background-color: #2874f0;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.Buttons button:first-child {
  background-color: #ff9f00;
}
.Buttons button:last-child {
  background-color: #fb641b;
}

/* allButton */
.allButton {
  height: 100%;
  width: 100%;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.buttonContainer {
  height: 300px;
  width: 500px;
  background-color: #ffffffaa;
  backdrop-filter: blur(10px);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}
.close i {
  font-size: 1.3rem;
  cursor: pointer;
}
.primary {
  background-color: #026541 !important;
  color: #e6fffa !important;
  padding: 15px !important;
  border: 1px solid #0f3024 !important;
  border-radius: 4px;
  margin-bottom: 50px;
}
.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row button:first-child {
  background-color: goldenrod !important;
  color: #030303 !important;
  padding: 15px !important;
  border: 1px solid #040403 !important;
  border-radius: 4px;
}
.row button:last-child {
  background-color: #ff0000 !important;
  color: #e6fffa !important;
  padding: 15px !important;
  border: 1px solid #0f3024 !important;
  border-radius: 4px;
}
