* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.ProductImageContainer {
  height: 620px;
  width: 540px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.ProductImages {
  width: 100%;
  height: 540px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 1px solid #ddd;
  padding: 10px;
}

.ProductImages img {
  max-width: 100%;
  max-height: 90%;
  object-fit: contain;
}
