.createAccount {
  height: auto;
  width: 100%;
  padding: 20px 140px;
  background-color: #ffffff;
}
.createAccount h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline solid #027cd5 5px;
  margin-bottom: 20px;
}

/* Create account div */
.create {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.create p {
  margin: 0;
  color: black;
}
.create img {
  height: 100px;
}
.gst {
  height: auto;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.607);
  border-radius: 20px;
  padding: 20px;
}
.gst h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.gst p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
