.createAccount {
  height: auto;
  width: 100%;
  padding: 20px 140px;
  background-color: #ffffff;
}
.createAccount h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline solid #027cd5 2px;
  margin: 0;
}

/* Create account div */
.create {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
}
.createAccount p {
  margin: 0;
  color: black;
}
.create img {
  height: 100px;
}
.gst {
  height: auto;
  width: 60%;
  border: 1px solid #ecf5fb;
  border-radius: 20px;
  padding: 20px;
  box-shadow:
    0px 2px 4px #ecf5fb,
    2px 0px 6px #ecf5fb;
  margin-bottom: 20px;
}
.gst h5 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.gst p {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
.gst div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gst div span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px 0px;
}
.gst div span p {
  margin: 0;
  color: black;
}

/* CATEGORY */
.category {
  height: auto;
  width: 60%;
  border: 1px solid #ecf5fb;
  border-radius: 20px;
  padding: 20px;
  box-shadow:
    0px 2px 4px #ecf5fb,
    2px 0px 6px #ecf5fb;
  margin-top: 20px;
}
.category h5 {
  margin: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
  margin-bottom: 20px;
}
.list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.list ul li {
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.list ul li:hover {
  color: #027cd5;
}
