.rating {
  background-color: #fff;
  width: 100%;
  padding: 20px 10px;
}
.rating h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.starContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
}
.starContainer div i {
  margin-right: 15px;
  color: gray;
}
.starContainer div span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.star {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}
.star textarea {
  width: 100%;
}
.error {
  margin: 0;
  color: red !important;
}

/* Star style */
