.rating {
  background-color: #fff;
  width: 100%;
  padding: 20px 10px;
}
.rating h6 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.starContainer {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 20px;
}
.starContainer div i {
  margin-right: 15px;
  color: gray;
}
.starContainer div span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}
.star {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px;
}

.star textarea {
  width: 100%;
  padding: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgba(128, 128, 128, 0.073);
  margin-bottom: 10px;
  margin-top: 10px;
}
.star textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.681);
  outline: none;
}
.error {
  margin: 0;
  color: red !important;
}
.star button {
  border: none;
  outline: none;
  padding: 8px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.284);
  background-color: #2874f0;
  color: white;
  border-radius: 5px;
  transition: background 0.3s ease;
}
.star button:hover {
  background-color: #0346b2;
}
