* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.groceryWrapper {
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.groceryContainer {
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  z-index: 999;
}
footer {
  width: 100%;
}
