* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar {
  height: auto;
  width: 100%;
  z-index: 9999;
}
.back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  width: 100%;
}
/* Left Side */
.back .left {
  display: flex;
}
.back .left h1 {
  font-size: 1.3rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin: 0;
  color: brown;
  font-style: italic;
}
.back .left i {
  margin: 0px 10px 0px 5px;
  color: black;
}

/* Time */
.back .time {
  height: 90%;
  background-color: brown;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 0px 5px;
}
.back .time p {
  margin: 0;
  color: white;
  font-size: 0.8rem;
}
.back .time h1 {
  color: white;
  font-size: 0.9rem;
}
