* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.searchBar {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}
.searchBar .search {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #faf6de;
  padding: 0px 8px 0px 10px;
  border-radius: 8px;
}
.search input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgb(82, 82, 82);
}

.search i {
  margin-right: 8px;
  color: gray;
  font-size: 1.2rem;
}

/* Login Button  */
.btn {
  height: 100%;
}
.btn button {
  border: none;
  outline: none;
  font-size: 1.1rem;
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: transparent;
  padding: 2px 5px;
}
.btn button i {
  font-size: 0.8rem;
  margin-left: 0.2rem;
}

/* Login Details */
.loginDetails {
  height: auto;
  width: 270px;
  background-color: white;
  position: absolute;
  right: calc(100% - 90%);
  top: calc(100% - 20%);
  border-radius: 20px;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Login TO Signup */
.loginDetails .signUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8px;
}
.signUp:hover {
  background-color: white !important;
}
.signUp p {
  margin: 0;
  color: black;
  font-size: 1.07rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.signUp a {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: sans-serif;
  font-weight: bold;
}
.signUp a p {
  color: brown;
}

/* Other Options */
.loginDetails div {
  padding: 8px 12px;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}
.loginDetails div:hover {
  background-color: #f1f2f4;
}

.loginDetails div i {
  margin-right: 0.8rem;
}
