.noFoundContainer {
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
.noFoundContainer nav {
  display: flex;
  background-color: #2874f0;
  align-items: center;
  justify-content: center;
  padding: 18px 0px;
  margin-bottom: 20px;
}
.noFoundContainer nav span {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
}
.noFoundContainer nav span img {
  height: 25px;
}
.noFoundContainer nav span img:last-child {
  height: 42px;
}
/* Container */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container img {
  height: 325px;
  margin-bottom: 10px;
}
.container p {
  margin: 0;
  color: black;
  font-family: sans-serif;
  font-size: 1.17rem;
  font-weight: 400;
}
.container button {
  background-color: #2874f0;
  border: none;
  outline: none;
  color: white;
  margin-top: 15px;
  padding: 8px 22px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 3px;
  box-shadow:
    0px 1px 4px rgba(0, 0, 0, 0.14),
    0px 2px 6px rgba(0, 0, 0, 0.14);
}
