* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.productList {
  display: flex;
  width: 100%;
  background-color: #f1f3f6;
  padding: 8px 0px 8px 8px;
  gap: 8px;
}
.rightSection {
  flex: 1;
}

/* cardContainer */
.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
