.totalPrice {
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.totalPrice h2 {
  margin: 0;
  font-size: 1.1rem;
  color: gray;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px 0px;
  border-bottom: 1px solid #ddd;
  padding: 13px 24px;
}
.line {
  display: flex;
  padding: 0px 20px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.line p {
  margin: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.totalLine {
  display: flex;
  padding: 0px 20px;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
}
.totalLine h3 {
  margin: 0;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
