.container {
  padding: 20px;
  height: calc(100vh - 60px);
  width: 100%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.container h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

/* CARD */
.card {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 12px;
  font-size: 14px;
  border-bottom: 1px solid #e0e0e0;
  text-align: left;
}

.table th {
  background-color: #f5f7fa;
  font-weight: 600;
}

/* STATUS */
.status {
  padding: 6px 10px;
  border-radius: 20px;
  font-weight: 600;
  font-size: 13px;
}

.requested {
  background-color: #ff80113d;
  color: #ff7f11;
  border: 1px solid #ff7f11;
}

.return_approved {
  background-color: #ff80113d;
  color: #ff7f11;
  border: 1px solid #ff7f11;
}

.completed {
  background-color: #d4edda;
  color: #1e7e34;
  border: 1px solid #1e7e34;
}

/* SELECT */
.select {
  padding: 6px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* pageNavigation */
.pageNavigation {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageNavigation button {
  border: none;
  background-color: transparent;
  transition: all ease 0.3s;
}
.pageNavigation button:hover {
  transform: scale(1.1);
}
.pageNavigation button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.pageNavigation button i {
  font-size: 1.4rem;
}
