.totalMoney {
  width: calc(100% - 70%);
  height: 230px;
  background-color: white;
  margin-top: 69px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.totalMoney h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: gray;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
  padding: 15px;
}
.totalMoney .line {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  border-bottom: 2px dotted #e0e0e0;
}
.line div {
  display: flex;
  justify-content: space-between;
}
.line div p {
  margin: 0;
  color: black;
  font-size: 1rem;
}
/* totalLine */
.totalLine {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.totalLine h3 {
  margin: 0;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 600;
}
