.adminLayout {
  display: flex;
  margin-top: 60px;
  background-color: #f1f3f6;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.adminContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;

  overflow-y: auto; /* IMPORTANT */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Edge, Safari */
.adminContent::-webkit-scrollbar {
  display: none;
}
