.adminLayout {
  display: flex;
  min-height: 100vh;
  margin-top: 60px;
  background-color: #f1f3f6;
  height: calc(100vh - 60px);
  overflow: hidden;
}

.adminContent {
  flex: 1;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.adminContent::-webkit-scrollbar {
  display: none;
}
