.PriceDropHead {
  width: 100%;
  height: 50px;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.PriceDropHead h2 {
  margin: 0;
  color: white;
  font-size: 1.7rem;
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
