.priceDetails {
  padding: 20px 15px;
  background-color: #fff;
}
.priceDetails h5 {
  font-family: serif;
  font-weight: 600;
  font-size: 1.1rem;
}
.allPrice {
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, 0.247);
  margin-bottom: 12px;
}
.allPrice div {
  display: flex;
  justify-content: space-between;
}
.allPrice div span {
  font-size: 0.9rem;
}
.allPrice div span i {
  font-size: 0.8rem;
  cursor: pointer;
}

/* Payment method */
.paymentMethod {
  border: 1px solid rgba(128, 128, 128, 0.125);
  padding: 10px 5px;
  border-radius: 10px;
}

.downloadInvoice {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  border: 1px solid rgba(128, 128, 128, 0.125);
  border-radius: 10px;
  padding: 12px 5px;
  background-color: #fff;
  gap: 5px;
  cursor: pointer;
}
.downloadInvoice span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem !important;
}
.downloadInvoice i {
  font-size: 1.2rem;
}
/* Offer */
.offer {
  padding: 12px 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.247);
  display: flex;
  justify-content: space-between;
}
.offer span span i {
  margin-right: 4px;
}
