.productDetails {
  width: 100%;
  height: auto;
  display: flex;
  background-color: #ffffff;
  justify-content: space-between;
  padding-bottom: 20px;
}
.left {
  width: 70%;
  padding: 10px;
}
.left h5 {
  font-size: 1.1rem;
}
.left ul {
  padding: 0 !important;
  margin: 0;
}
.left ul p {
  margin: 0;
  color: gray;
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.left h6 {
  font-weight: 600;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}
.right {
  width: calc(100% - 70%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.right img {
  height: 100px;
  object-fit: contain;
}
