* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}
.card {
  width: 230px;
  flex: 0 0 230px;
  height: 300px;
  background: white;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
  border: 0.3px solid #e6e6e6;
  border-radius: 12px;
}
.card:hover .productImg {
  transform: scale(1.1);
}
.card:hover .title {
  color: #2874f0 !important;
}

.productImg {
  width: 100%;
  height: 160px;
  object-fit: contain;
  border-radius: 12px;
  background-color: white;
  transition: all 0.3s ease;
}

.title {
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  color: #1c1c1c;
  margin: 10px 0px 0px 0px;
  line-height: 1.3;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.priceRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price {
  font-size: 20px;
  font-weight: 700;
  color: #1c1c1c;
  margin: 0;
  padding: 0;
}

.rating {
  font-size: 15px;
  font-weight: 600;
  color: #ff9f00;
  background: transparent;
}

.stock {
  font-size: 13px;
  color: #00a650;
  font-weight: 600;
  margin: 0;
}

/* Where we need no border */
.noBorder {
  border: none !important;
  box-shadow: none !important;
}
