* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.ProductDetails {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProductOverview {
  display: flex;
  width: 90%;
  height: 750px;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
}
/* Left Side */
.leftSide {
  width: 40%;
  background-color: white;
  position: sticky;
  top: 0;
}
/* Right Side */
.rightSide {
  display: flex;
  width: 60%;
  padding: 0px 10px;
}
