* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Beauty Section */
.beauty-section {
  padding: 8px;
  margin-top: 57px;
}

/* Hero Section */
.beauty-hero {
  background-color: white;
  height: 400px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 8px;
}
.beauty-hero img {
  width: 100%;
  object-fit: contain;
  object-position: center;
  transform: translateY(-170px);
}
/* feature */
.feature {
  height: 350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  background-color: white;
  margin-bottom: 8px;
}
/* feature head */
.feature .feature-head {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.feature-head h1,
.new-arrival-head h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.8rem;
  margin: 0;
}

/* feature-items */
.feature .feature-items {
  height: 80%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  padding-bottom: 5px;
  scrollbar-width: none;
}
.beauty-link {
  display: contents;
}

.feature-items .beauty-card {
  flex: 0 0 220px;
  height: 100%;
  min-width: 220px;
  max-width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.beauty-card img {
  height: 80%;
  mix-blend-mode: multiply;
}
.beauty-card p {
  width: 90%;
  font-size: 0.9rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  color: black;
}
.beauty-card:hover p {
  color: #2874f0;
}

/* New Arrival */
.new-arrival {
  height: 600px;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
}
.new-arrival-head {
  height: 15%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-arrival-item {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 240px;
  gap: 10px;
}

.box {
  height: 100%;
  width: 100%;
  background-color: #f6f0ea;
  border-radius: 10px;
  border: 1px solid #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box p {
  font-weight: 600;
  margin: 5px 0px 0px 0px;
}
.box:hover {
  cursor: pointer;
}
.big:hover {
  cursor: default;
}

.box.big {
  grid-row: span 2;
  height: auto;
}
.big {
  position: relative;
  overflow: hidden;
}

.big img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.big:hover img {
  filter: blur(2px);
}

.big .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 0.4s ease;
  pointer-events: none;
}
.big:hover .overlay {
  opacity: 1;
  pointer-events: auto;
}
.overlay .bottom-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottom-text h6 {
  color: white;
  font-size: 1.5rem;
}
.bottom-text p {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 0.8rem;
  margin-bottom: 10px;
  font-weight: 600;
}
.bottom-text a {
  text-decoration: underline white;
}

/* !FOOD ITEMS */
/* food sell */
.food-sell {
  height: 400px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.food-sell .food-sell-items {
  height: 100%;
  width: 80%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  gap: 10px;
}
.food-sell-items .large {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}
.large {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #e6b52a;
}
.large img {
  height: 100%;
  transform: rotate(10deg) translateX(-80px) translateY(15px);
}
.large div {
  width: 40%;
}
.large div p {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: red;
}
.large div h1 {
  margin: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 2.7rem;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.large div button {
  padding: 8px 15px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  font-family: sans-serif;
  margin-top: 50px;
}

.md-large {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
}
.md-large img {
  height: 90%;
  object-fit: cover;
  mix-blend-mode: multiply;
}
.md-large div {
  width: auto;
  height: 100%;
}
.md-large div p {
  margin: 0;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  color: red;
}
.md-large div h1 {
  margin: 0;
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: black;
  margin-bottom: 10px;
}
.md-large div button {
  padding: 4px 10px;
  border-radius: 10px;
  border: none;
  background-color: red;
  color: white;
  font-family: sans-serif;
  margin-top: 20px;
}
