.Summary {
  height: auto;
  width: 300px;
  padding: 20px;
  background-color: #fbf6f4;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.255);
}
.Summary h4 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.3rem;
  margin: 0;
  margin-bottom: 10px;
}
.Summary .line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.line p {
  margin: 0;
  padding: 15px 0px;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.line span {
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
}
.success {
  background-color: rgba(144, 238, 144, 0.399);
  color: green;
  padding: 2px;
  border-radius: 4px;
  font-size: 0.8rem !important;
}
.Summary button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.06rem;
  background-color: #2874f0;
  border: none;
  outline: none;
  color: white;
}
.line span .image {
  height: 20px;
  margin-right: 5px;
}
